.search-bar {
    margin: 20px;
}
.search-bar input {
    width: 50%;
    margin: 0 10px;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 13px;
}

.details div:first-child {
    font-weight: 500;
    font-size: 18px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}
